<h1>Editing Picture Entry</h1>

<%= render 'form', picture_entry: @picture_entry %>

<div class="button"><%= link_to 'Show', @picture_entry %></div> |
<div class="button"><%= link_to 'Back', picture_entries_path %></div>
